---
import PostsLayout from '../../layouts/PostsLayout.astro';
import Title from '../../components/Title.astro';
import PostList from '../../components/PostList.astro';
import Head from '../../components/Head.astro';
import Header from '../../components/Header.astro';
import { getCollection } from 'astro:content';
import { Picture } from 'astro:assets';
import blur from '/src/assets/img/bg.svg';
const posts = await getCollection('posts');
---

<Head title='Blog' />
<Picture
src={blur}
class='fixed blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
alt='blur background'
formats={['avif', 'webp']}
/>
<PostsLayout title='Blog'>
	<Header />
	<div class='grid content-center my-auto mt-[12.2222%] min-h-full'>
		<Title text='Blog' />
		<PostList posts={posts} />
	</div>
</PostsLayout>
