---
import { Image } from 'astro:assets'
import blur from '/src/assets/img/bg.svg';
import Layout from '@/layouts/Layout.astro'
---
<Layout>
    <section class="min-h-screen grid gap-5 px-3 lg:px-0  place-content-center place-items-center content-center tracking-wide text-white">
      <Image
      src={blur}
      class='fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
      alt='blur background'
    /> 
      <h3 class="text-9xl font-black bg-clip-text text-transparent bg-gradient-to-t from-primary-0 to-accent-0">404</h3>
		<h1 class="font-black text-8xl">Wooops..</h1><p class="font-black text-5xl">Something was wrong..</p>
    <button
    onclick="window.location.href = '/';"
    class='justify-self-center px-3 py-2 mt-5 rounded-lg border-2 hover:border-primary-0 hover:bg-primary-0 duration-150'
    >Back to home
    <svg
      class='inline-block pl-2'
      width='24'
      height='24'
      viewBox='0 0 24 24'
      fill='none'
      xmlns='http://www.w3.org/2000/svg'
      ><path
        d='M15.6396 7.02527H12.0181V5.02527H19.0181V12.0253H17.0181V8.47528L12.1042 13.3892L10.6899 11.975L15.6396 7.02527Z'
        fill='currentColor'
      ></path><path
        d='M10.9819 6.97473H4.98193V18.9747H16.9819V12.9747H14.9819V16.9747H6.98193V8.97473H10.9819V6.97473Z'
        fill='currentColor'
      ></path></svg
    >
  </button>
    </section>
    <Layout />