---
import Layout from '@/layouts/Layout.astro';
import Head from '@/components/Head.astro';
import Title from '@/components/Title.astro';
import { Image, Picture } from 'astro:assets';
import me from '/src/assets/img/antondavidguamandavila.jpeg'
import github from '/src/assets/img/github.svg'
import linkedin from '/src/assets/img/linkedin.svg'
import blur from '/src/assets/img/bg.svg';
---

<Head  title="About"/>
<Layout class="relative" title="About">
<div class='grid mt-[11.1111%] content-center'>
		<Title text="About"></Title>
	</div>
			<!-- ABOUT ME -->
	<section class='grid content-start px-3 lg:px-0 mb-[5rem] text-white'>
		<Image
		src={blur}
		class='fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
	/>
		<div class='grid grid-flow-col auto-cols-auto content-center mt-20'>
			<div class="grid lg:grid-cols-2 blur-bg rounded-xl p-5">
				<div class="grid justify-center content-center mb-5 lg:mb-0">
					<Picture class="object-cover rounded-full ring-8 ring-white/80 w-full h-full max-w-[200px] max-h-[200px] lg:max-w-[250px] lg:max-h-[250px]" src={me} formats={["avif", "webp"]} width="300" height="300" alt="David Guaman Davila" />
				</div>

				<div class="grid justify-center content-center">
					<h3 class="text-4xl lg:text-5xl font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0">David Guaman Davila</h3>
					<div class="text-xl font-light text-zinc-200 max-w-xl mt-5">
						<p>I am a freelancer from Ukraine, I am engaged in website development in different directions for several years, 
							in this time I have managed to work with online stores, landing pages, blogs, etc.</p>
						<p class="mt-5">
							I will be glad to work with you to create together a good product that will allow you to attract more customers, 
							as well as increase the attractiveness of your company on the Internet.
						</p>	
					</div>
				</div>
			</div>
		</div>

		<div class='mt-5'>
			<div class="grid grid-cols-1 lg:grid-cols-2 content-center justify-center text-zinc-200 blur-bg rounded-xl p-5 min-h-[200px]">
				<div class="grid content-center ">
					<h2 class="!text-6xl font-black text-center bg-gradient-to-r from-primary-0 to-accent-0 ">Social links</h2>
				</div>

				<div class="grid grid-cols-2 gap-5 place-content-center">
					<a href="mailto:adguaman@mun.ca">
					<div class="grid grid-cols-2 lg:grid-cols-1 hover:bg-primary-0 duration-150 rounded-xl px-10 py-5 w-full max-w-[250px]"><h3>
						<svg class="inline-block w-10" fill="none" stroke="#ffffff" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
						  </svg>
						Email
					</h3></div>
					</a>
					<a href="https://github.com/DavidGuamanDavila" target="_blank">
					<div class="grid grid-cols-2 lg:grid-cols-1 hover:bg-primary-0 duration-150 rounded-xl px-10 py-5 w-full max-w-[250px]"><h3>
						<Image class="inline-block w-10" src={ github } width="40" height="40" alt='david guaman davila github' />
								GitHub
					</h3></div>
					</a>
					<a href="https://www.linkedin.com/in/anton-david-guaman-davila/" target="_blank">
					<div class="grid grid-cols-2 lg:grid-cols-1 hover:bg-primary-0 duration-150 rounded-xl px-10 py-5 w-full max-w-[250px]"><h3>
						<Image class="inline-block w-10" src={ linkedin } width="40" height="40" alt='oleksii vratskyi github' />
								LinkedIn
					</h3></div>
					</a>

				</div>
			</div>
		</div>
	</section>
</Layout>

