---
import Layout from '../layouts/Layout.astro';
import Head from '../components/Head.astro';
import Title from '../components/Title.astro';
import Header from '../components/Header.astro';
import { Image, Picture } from 'astro:assets';
import blur from '/src/assets/img/bg.svg';
import github from '/src/assets/img/github.svg'
---

<Head title="Contact" />
<Layout class="relative" title="Contact">
<Header />
<div class='grid mt-[11.1111%] content-center'>
		<Title text="Contact"></Title>
	</div>
			<!-- ABOUT ME -->
	<section class='grid content-start text-white'>
		<Picture
		src={blur}
		class='fixed blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
		alt='blur background'
		formats={['avif', 'webp']}
	/>
		<div class='mt-[11.1111%]'>
			<div class="grid grid-cols-1 lg:grid-cols-2 content-center justify-center text-zinc-200 bg-zinc-900 rounded-xl p-5 min-h-[200px]">
				<h2 class="text-5xl font-black grid content-center text-center">Social links</h2>

				<div class="grid grid-cols-1 lg:grid-cols-2 gap-5 content-center justify-center">

					<a class="mr-5" href="https://t.me/dev_it_awesome" target="_blank">
						<div class="grid text-center hover:bg-zinc-700 rounded-xl py-5"><h3>
							<svg class="inline-block w-10 -rotate-45" fill="none" stroke="#35B2EA" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"></path>
							  </svg>
							  Telegram
						</h3></div>
					</a>

					<a href="mailto:vratskiy0@gmail.com">
					<div class="grid text-center hover:bg-zinc-700 rounded-xl py-5"><h3>
						<svg class="inline-block w-10" fill="none" stroke="#35B2EA" stroke-width="1.2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
						  </svg>
						Email
					</h3></div>
					</a>

					<a href="https://www.behance.net/alexvracky" target="_blank">
						<div class="grid text-center hover:bg-zinc-700 rounded-xl py-5"><h3>
							<svg class="inline-block w-10" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="50" height="50" viewBox="0,0,256,256"
							style="fill:#000000;">
							<g fill="#17b8eb" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M9,4c-2.76,0 -5,2.24 -5,5v32c0,2.76 2.24,5 5,5h32c2.76,0 5,-2.24 5,-5v-32c0,-2.76 -2.24,-5 -5,-5zM12,18h6.73047c0.73,0 4.67969,-0.04969 4.67969,3.57031c0,1.92 -1.31039,2.56938 -1.90039,2.85938c0.88,0.28 2.49023,1.09031 2.49023,3.57031c0,3.83 -4.39047,4 -4.98047,4h-7.01953zM29,18h7v2h-7zM15,20.42969v3.28125h3.2207c0.44,0 1.89844,-0.24094 1.89844,-1.71094c0,-1.47 -1.89945,-1.57031 -2.18945,-1.57031zM32.73047,21c3.9,0 4.95914,3.03977 5.11914,3.75977c0.15,0.73 0.15039,1.37023 0.15039,2.24023h-7.90039c0,0.87 0.46102,2.83008 2.79102,2.83008c0.62,0 1.07883,-0.14945 1.54883,-0.43945c0.46,-0.29 0.62148,-0.57133 0.77148,-0.86133h2.62891c-0.46,1.15 -1.07977,2.02156 -2.00977,2.60156c-0.93,0.58 -2.01,0.86914 -3.25,0.86914c-0.78,0 -1.55008,-0.14945 -2.33008,-0.43945c-0.62,-0.29 -1.23922,-0.72039 -1.69922,-1.15039c-0.46,-0.44 -0.77008,-1.02023 -1.08008,-1.74023c-0.31,-0.58 -0.4707,-1.44992 -0.4707,-2.16992c0,-0.72 0.29047,-5.5 5.73047,-5.5zM32.73047,23.0293c-2.26,0 -2.63086,2.17055 -2.63086,2.31055h4.96094c-0.16,-0.72 -0.81008,-2.31055 -2.33008,-2.31055zM15,25.71094v3.85937h3.35156c0.289,0 2.32813,-0.08938 2.32813,-1.85937c0,-1.76 -1.60213,-2 -2.32813,-2z"></path></g></g>
							</svg>
							Behance
						</h3></div>
						</a>

						<a href="https://github.com/vratskyi" target="_blank">
							<div class="grid text-center hover:bg-zinc-700 rounded-xl py-5"><h3>
								<Image class="inline-block w-10" src={ github } width="40" height="40" alt='oleksii vratskyi github' />
								GitHub
							</h3></div>
							</a>

				</div>
			</div>
		</div>
	</section>
</Layout>

