---
import { getLangFromUrl, useTranslations } from '@/i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class='py-3 px-5 lg:py-5 lg:px-10'>
	<div class='horizontal-line'></div>
	<div class='flex justify-between items-center'>
		<div>
			<h4 class='font-light text-sm lg:text-lg'>
				<div set:html={t('footer.copyright')}></div>
			</h4>
		</div>
		<div class='flex lg:space-x-1 items-center'>
			<a
				href='https://github.com/vratskyi'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
                  <svg class="inline-block size-[30px]" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 1200 1200"><path fill="currentColor" d="M600 0C268.629 0 0 268.629 0 600s268.629 600 600 600s600-268.629 600-600S931.371 0 600 0m0 65.332c295.289 0 534.668 239.379 534.668 534.668S895.289 1134.668 600 1134.668S65.332 895.289 65.332 600S304.711 65.332 600 65.332M334.644 221.924c-15.228 44.26-20.507 92.298-6.885 134.253c-16.457 18.264-29.235 39.243-38.379 62.988c-24.371 77.026-18.418 175.425 34.937 234.961c18.743 20.548 44.172 37.441 76.172 50.684c31.999 13.241 73.127 21.688 123.413 25.343c-33.751 15.771-57.543 25.406-65.846 60.277c-37.646 25.156-83.427 19.153-116.602-8.203c-26.217-19.143-38.094-53.164-67.163-65.771c-1.828-1.826-7.539-3.188-17.139-4.103c-9.6-.913-17.146 1.811-22.632 8.203c-2.743 2.739-2.541 5.666.659 8.862c22.006 17.897 43.187 36.867 55.591 59.619c11.886 24.657 24.188 42.711 36.987 54.126c35.507 23.993 83.126 36.476 124.806 21.24c-4.86 29.329 8.252 75.13-1.393 101.367c-3.658 7.306-8.89 13.71-15.747 19.188c-6.111 5.962-25.06 13.42-21.24 22.56c1.828 4.108 8.219 6.631 19.189 7.544c24.151-.616 48.193-10.382 62.402-29.443c5.028-6.85 7.544-15.774 7.544-26.733V846.607c0-12.785 2.717-21.913 8.203-27.394c5.484-5.479 11.471-9.16 17.87-10.985v147.948c0 12.785-1.155 23.753-3.441 32.886c-2.286 9.134-4.324 15.536-6.152 19.189c-4.197 7.039-12.221 13.535-12.378 21.899c0 2.738 1.635 4.305 4.834 4.761c24.021-1.042 51.889-15.133 61.67-34.938c7.771-16.438 11.646-33.736 11.646-52.002V802.734h30.176v145.238c0 18.266 4.149 35.563 12.378 52.002s21.962 27.002 41.162 31.567c10.057 2.74 16.85 3.826 20.508 3.369c3.657-.457 5.291-2.021 4.834-4.761c-2.202-8.299-6.791-15.397-11.646-21.899c-6.4-8.219-9.596-25.591-9.596-52.075V808.229c6.4 1.825 12.588 5.507 18.53 10.985c5.942 5.479 8.862 14.607 8.862 27.394v112.279c0 10.959 2.515 19.885 7.544 26.733c15.283 19.437 38.314 29.297 62.401 29.443c10.973-.913 17.361-3.436 19.189-7.544c1.828-4.109.47-7.516-4.102-10.255s-10.281-6.824-17.14-12.305c-6.857-5.479-12.09-11.884-15.747-19.188c-4.104-47.109-.104-97.608-3.441-145.239c-6.589-51.979-26.597-69.079-66.504-88.989c47.543-3.653 86.633-12.376 117.261-26.074c91.558-44.484 116.875-113.258 117.261-205.443c-1.444-59.33-18.57-111.086-57.642-150.732c5.484-21.004 7.12-42.867 4.834-65.698c-2.286-22.831-7.115-43.405-14.43-61.67c-33.824 1.826-62.174 8.635-85.033 20.508c-22.857 11.873-39.31 21.957-49.365 30.176c-81.016-18.393-167.743-18.503-245.436 2.71c-39.748-32.517-89.018-50.632-135.784-53.396"/></svg>

				</div>
			</a>
			<a
				href='https://www.behance.net/alexvracky'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
					<svg
						class='inline-block w-6 lg:w-8'
						xmlns='http://www.w3.org/2000/svg'
						x='0px'
						y='0px'
						width='40'
						height='40'
						viewBox='0,0,256,256'
						style='fill:#000000;'>
						<g transform=''
							><g
								fill='#ffffff'
								fill-rule='nonzero'
								stroke='none'
								stroke-width='1'
								stroke-linecap='butt'
								stroke-linejoin='miter'
								stroke-miterlimit='10'
								stroke-dasharray=''
								stroke-dashoffset='0'
								font-family='none'
								font-weight='none'
								font-size='none'
								text-anchor='none'
								style='mix-blend-mode: normal'
								><g transform='scale(5.12,5.12)'
									><path
										d='M9,4c-2.74952,0 -5,2.25048 -5,5v32c0,2.74952 2.25048,5 5,5h32c2.74952,0 5,-2.25048 5,-5v-32c0,-2.74952 -2.25048,-5 -5,-5zM9,6h32c1.66848,0 3,1.33152 3,3v32c0,1.66848 -1.33152,3 -3,3h-32c-1.66848,0 -3,-1.33152 -3,-3v-32c0,-1.66848 1.33152,-3 3,-3zM11,16c-0.55226,0.00006 -0.99994,0.44774 -1,1v16.00195c0.00006,0.55226 0.44774,0.99994 1,1h7.60938c0.00065,0 0.0013,0 0.00195,0c0.41242,-0.00065 1.85909,-0.03581 3.35547,-0.73828c1.49633,-0.70247 3.0332,-2.28232 3.0332,-4.83594c0,-1.61999 -0.53053,-2.83986 -1.24219,-3.64258c-0.29784,-0.33595 -0.57608,-0.37359 -0.89062,-0.58008c0.60177,-0.70396 1.13281,-1.65669 1.13281,-3.20508c0,-2.38267 -1.30503,-3.8614 -2.64648,-4.46289c-1.34146,-0.60149 -2.72095,-0.53711 -3.06055,-0.53711zM30,16c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h6c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587zM12,18h6.29297c0.4524,0 1.42814,-0.0037 2.24219,0.36133c0.81404,0.36501 1.46484,0.88735 1.46484,2.63867c0,1.87589 -0.7229,2.23586 -1.15234,2.45703c-0.35558,0.18367 -0.56742,0.56163 -0.53852,0.9608c0.02891,0.39917 0.293,0.74267 0.67133,0.87319c0.37813,0.12962 0.88315,0.37128 1.28125,0.82031c0.3981,0.44903 0.73828,1.1074 0.73828,2.31641c0,1.83038 -0.84269,2.53711 -1.88281,3.02539c-1.04012,0.48828 -2.28624,0.54848 -2.50781,0.54883h-6.60937zM33,19c-0.91237,0 -2.58259,0.18126 -4.13672,1.24805c-1.55413,1.06679 -2.86328,3.09135 -2.86328,6.25195c0,2.9434 1.20884,4.94415 2.72852,6.06836c1.51967,1.1242 3.24217,1.43164 4.44141,1.43164c2.53915,0 4.33457,-0.86305 5.41016,-2.08984c0.99343,-1.13308 1.32229,-2.46985 1.37305,-3.61328c0.0272,-0.08476 0.04297,-0.17278 0.04688,-0.26172c0.00031,-0.0086 -0.00225,-0.0187 -0.00195,-0.02734c0.00005,-0.00245 0.00195,-0.00537 0.00195,-0.00781c-0.00029,-0.03328 -0.00225,-0.06652 -0.00586,-0.09961c0,-0.0013 0,-0.0026 0,-0.00391c0.05445,-1.80735 -0.08556,-3.89615 -1.05078,-5.68359c-0.98874,-1.831 -2.97679,-3.21289 -5.94336,-3.21289zM15,20v3h2.61914c0.357,0 1.54688,-0.22545 1.54688,-1.56445c0,-1.34 -1.54816,-1.43555 -1.78516,-1.43555zM33,21c2.40843,0 3.48288,0.86811 4.18164,2.16211c0.566,1.04814 0.73808,2.45623 0.77148,3.83789h-2.95312h-4c-0.55226,0.00006 -0.99994,0.44774 -1,1c0,0 0.0086,0.25241 0.08203,0.47266c0.07341,0.22024 0.21809,0.49152 0.46094,0.73438c0.4857,0.4857 1.29036,0.79297 2.45703,0.79297c1.16667,0 1.97133,-0.30727 2.45703,-0.79297c0.0686,-0.0686 0.07739,-0.13566 0.13086,-0.20703h2.25391c-0.13318,0.55475 -0.34711,1.1125 -0.76562,1.58984c-0.67791,0.77321 -1.7974,1.41016 -3.90625,1.41016c-0.82876,0 -2.19413,-0.25652 -3.25195,-1.03906c-1.05783,-0.78255 -1.91797,-2.03134 -1.91797,-4.46094c0,-2.6464 0.93048,-3.87205 1.99609,-4.60352c1.06562,-0.73146 2.39528,-0.89648 3.00391,-0.89648zM33.08594,22.60156c-0.591,0 -1.01552,0.07547 -1.35352,0.23047c-0.338,0.154 -0.58975,0.38714 -0.84375,0.61914c-0.169,0.232 -0.33883,0.46539 -0.42383,0.77539c-0.085,0.232 -0.16897,0.46439 -0.16797,0.77539h5.4082c-0.085,-0.775 -0.33872,-1.39425 -0.76172,-1.78125c-0.422,-0.387 -1.01242,-0.61914 -1.85742,-0.61914zM15.0332,26v3.98047h2.92969c0.254,0 2.03711,-0.09802 2.03711,-1.91602c0,-1.82 -1.40111,-2.06445 -2.03711,-2.06445z'
									></path></g
								></g
							></g
						>
					</svg>
				</div>
			</a>
			<a
				href='https://t.me/dev_it_dude'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
					<svg
						class='inline-block w-6 lg:w-8 -rotate-45'
						fill='none'
						stroke='#ffffff'
						stroke-width='1.2'
						viewBox='0 0 24 24'
						xmlns='http://www.w3.org/2000/svg'
						aria-hidden='true'>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
						></path>
					</svg>
				</div>
			</a>
			<a
				href='mailto:vratskiy0@gmail.com'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
					<svg
						class='inline-block w-6 lg:w-8'
						fill='none'
						stroke='#ffffff'
						stroke-width='1.2'
						viewBox='0 0 24 24'
						xmlns='http://www.w3.org/2000/svg'
						aria-hidden='true'>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75'
						></path>
					</svg>
				</div>
			</a>
		</div>
	</div>
</footer>

<script transition:persist>
document.addEventListener('astro:page-load', () => {
	// Получение текущей даты
	let currentDate = new Date();
	// Извлечение текущего года из объекта даты
	let currentYear = currentDate.getFullYear();
	// Получение элемента по идентификатору
	let yearElement = document.getElementById('currentYear');
	// Проверка существования элемента перед установкой его textContent
	if (yearElement !== null) {
		yearElement.textContent = String(currentYear);
	} else {
		console.error("Element with ID 'currentYear' not found.");
	}
});
</script>
