---
import github from '/src/assets/img/github.svg';
import { Image } from 'astro:assets';
---

<footer class='py-3 px-5 lg:py-5 lg:px-10'>
	<div class='horizontal-line'></div>
	<div class='flex justify-between items-center'>
		<div>
			<h4 class='font-light text-sm lg:text-lg'>
				Copyright © <span id='currentYear'></span> All rights reserved.
			</h4>
		</div>
		<div class='flex lg:space-x-1 items-center'>
			<a
				href='https://github.com/DavidGuamanDavila'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
					<Image
						class='inline-block w-6 lg:w-8'
						src={github}
						width='40'
						height='40'
						alt='David Guaman Davila's Github'
					/>
				</div>
			</a>
			<a
				href='https://t.me/dev_it_dude'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
					<svg
						class='inline-block w-6 lg:w-8 -rotate-45'
						fill='none'
						stroke='#ffffff'
						stroke-width='1.2'
						viewBox='0 0 24 24'
						xmlns='http://www.w3.org/2000/svg'
						aria-hidden='true'>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5'
						></path>
					</svg>
				</div>
			</a>
			<a
				href='adguaman@mun.ca'
				target='_blank'>
				<div class='hover:bg-primary-0 duration-150 rounded-xl px-2 py-2'>
					<svg
						class='inline-block w-6 lg:w-8'
						fill='none'
						stroke='#ffffff'
						stroke-width='1.2'
						viewBox='0 0 24 24'
						xmlns='http://www.w3.org/2000/svg'
						aria-hidden='true'>
						<path
							stroke-linecap='round'
							stroke-linejoin='round'
							d='M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75'
						></path>
					</svg>
				</div>
			</a>
		</div>
	</div>
</footer>

<script transition:persist>
document.addEventListener('astro:page-load', () => {
	// Получение текущей даты
	let currentDate = new Date();
	// Извлечение текущего года из объекта даты
	let currentYear = currentDate.getFullYear();
	// Получение элемента по идентификатору
	let yearElement = document.getElementById('currentYear');
	// Проверка существования элемента перед установкой его textContent
	if (yearElement !== null) {
		yearElement.textContent = String(currentYear);
	} else {
		console.error("Element with ID 'currentYear' not found.");
	}
});
</script>
