---
import fav from '/favicon.svg'
import { ViewTransitions } from 'astro:transitions';

const { title } = Astro.props;
---
<!-- HEAD -->
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={fav.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;400;900&display=swap">
    <link rel="preload" href="/styles/reset.css" as="style"onload="this.onload=null;this.rel='stylesheet';">
    <link rel="preload" href="/styles/global.css" as="style"onload="this.onload=null;this.rel='stylesheet';">
    <script src="/src/assets/js/menu.js" defer></script>
    <script src="/src/assets/js/animate.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>{ title }</title>
    <ViewTransitions />
</head>