---
import { Image, Picture } from 'astro:assets';
import logo from '/src/assets/img/logo.svg';
import blur from '/src/assets/img/bg.svg';
---

<!-- HEADER -->
<nav
	transition:persist="nav"
	transition:name="nav"
	class='container fixed top-1 md:left-5 md:right-5 xl:max-w-7xl mx-auto font-sans bg-background-0/10 backdrop-blur-3xl rounded-xl p-5 flex justify-between items-center z-50'>
	<div class='w-20 z-50'>
		<a href='/'
			><Image
				src={logo}
				width='80'
				height='34'
				alt='OV logo'
			/></a
		>
	</div>

	<button
		transition:persist
		id='menu-image'
		class='z-50 p-2 rounded-lg transition-colors duration-150 hover:bg-zinc-800'>
		<Image
			id='menu-icon'
			src='/src/assets/img/menu.svg'
			width='34'
			height='34'
			alt='menu'
		/>
		<div class='relative'>
			<div
				id='main-menu'
				class='menu hidden overflow-y-auto animation z-40 fixed left-0 right-0 top-20 h-full w-full min-h-screen lg:min-h-[700px] max-w-[1120px] mx-auto rounded-xl'>
				<Picture
					src={blur}
					class='absolute blur-[100px] top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
					alt='blur background'
					formats={['avif', 'webp']}
				/>
				<ul
					class='text-7xl lg:text-8xl font-black grid gap-y-5 lg:gap-y-10 my-auto mt-10 lg:mt-0 content-start lg:content-center h-full max-h-[680px] text-white'>
					<li>
						<a
							href='/'
							class='hover-link active'>
							Home
						</a>
					</li>
					<li>
						<a
							href='/about'
							class='hover-link'
							>About</a
						>
					</li>
					<li>
						<a
							href='/work_experience'
							class='hover-link'
							>Work Experience</a
						>
					</li>
					<li>
						<a
							href='/portfolio'
							class='hover-link'
							>Portfolio</a
						>
					</li>
					<li>
						<a
							href='/certifications'
							class='hover-link'
							>Certifications</a
						>
					</li>
				</ul>
			</div>
			<div></div>
		</div>
	</button>
</nav>
