---
type Props = {
	text: string;
};

const { text } = Astro.props;
---

<h2
	class='mt-[6rem] px-2 md:px-0 lg:mt-0 text-7xl lg:text-8xl inline-block font-black bg-clip-text text-transparent bg-gradient-to-r from-accent-0 to-accent-0'>
	{text}
</h2>
