---
type Props = {
    text: string;
};

const { text } = Astro.props;
---

<h1 class="mt-[9.9999%] px-2 md:px-0 lg:mt-0 text-8xl inline-block font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-0 to-accent-0">{ text }</h1>