@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

h2 {
	font-size: 1.6rem !important;
	font-weight: 600 !important;
	margin-bottom: 5px !important;
}

/** Основные цвета */
:root {
	--primary: #f1362a;
	--secondary: #2f2929;
	--accent: #ac1694;
	--background: #040404;
}

/** Меню */
#main-menu > .menu {
	scroll-margin-top: 76px;
}

.blur-menu {
	backdrop-filter: blur(100px) !important;
	-webkit-backdrop-filter: blur(100px) !important;
}

/** Анимация меню */
#main-menu.animation {
	animation-name: animation;
	animation-duration: 500ms;
}

@keyframes animation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#menu-icon {
	transition: src 0.5s ease-in-out;
}

/** Анимация элементов */
.animate {
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 1s all ease;
}

.animate.active {
	transform: translateY(0);
	opacity: 1;
}

.active {
	visibility: visible !important;
}

@layer utilities {
	.hover-link:hover {
		color: var(--primary);
		transition-duration: 150ms;
	}
}

.hover-link.active {
	color: var(--primary);
  }

@layer utilities {
	.home-icon.active {
		stroke: var(--primary);
		transition-duration: 150ms;
	}
}

@layer utilities {
	@media (min-width: 424px) {
		.xs\:mt-\[10rem\] {
			margin-top: 10rem/* 160px */;
		}
	}
}