---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<body
	class='cursor-default relative container xl:max-w-7xl font-sans md:px-5 mx-auto tracking-wide text-zinc-200 bg-[#040404]'>
	<Header />
	<div class='md:flex md:flex-col md:min-h-[100vh]'>
		<slot />
	</div>
	<Footer />
</body>
