---
import PostsLayout from "@layouts/PostsLayout.astro";
import Title from "@components/Title.astro";
import PostList from "@components/PostList.astro";
import Head from "@components/Head.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import blur from "@/assets/img/bg.png";
import { getAbsoluteLocaleUrl } from "astro:i18n";

getAbsoluteLocaleUrl("en");

const allPosts = await getCollection("posts");
---

<Head title='Blog' />
<Image
	src={blur}
	class='fixed top-0 bottom-0 left-0 right-0 m-auto h-full w-full object-cover object-center z-[-1]'
	alt='blur background'
/>
<PostsLayout>
	<div class='grid content-center my-auto mt-[11.1111%] min-h-full'>
		<Title text='Blog' />
		<PostList posts={allPosts} />
	</div>
</PostsLayout>